# Common Build Path
build
Build
bin
__pycache__
protobuf
cmake-build*

#IDE files
.idea

# Prerequisites
*.d
prerequisites/protobuf
prerequisites/libfreenect2

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Python PYC files
*.pyc

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
